Linux-Setup/node-red-pi.json
[
    {
        "id": "d26f754b33dd7e3a",
        "type": "tab",
        "label": "PI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0aec1a7c5c42d562",
        "type": "exec",
        "z": "d26f754b33dd7e3a",
        "command": "sudo mount /dev/sda2 /home/pi/vald3flix",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f2bb51c9667602af",
        "type": "inject",
        "z": "d26f754b33dd7e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "0aec1a7c5c42d562"
            ]
        ]
    },
    {
        "id": "3aa9c7619b96ab4e",
        "type": "exec",
        "z": "d26f754b33dd7e3a",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dd01a504eebcf5e6",
        "type": "inject",
        "z": "d26f754b33dd7e3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "3aa9c7619b96ab4e"
            ]
        ]
    }
]